/* font-family: 'Roboto', sans-serif; */
body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    background-color: #fff;    
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}


.navbar {
    width: 250px;
    height: 100vh;
    position: fixed;
    background-color: #ffffff;
    transition: 0.4s;
}

.nav-link {
    font-size: 15px;
    font-weight: 700;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
}

.nav-link:active{
    background-image: linear-gradient(to right,rgba(0, 49, 56, 70%), rgba(0, 0, 0, 10%));
    color: #003138;
    border-radius: 40px;
    width: 90%;
}
/* .nav-link:focus,
.nav-link:hover {
    background-color: #647871;
} */
.nav-item{
    margin-top: 5px;
    margin-bottom: 5px;

}


.material-icons-outlined.md-18 { font-size: 18px; }
.material-icons-outlined.md-24 { font-size: 24px; }
.material-icons-outlined.md-26 { font-size: 26px; }
.material-icons-outlined.md-48 { font-size: 48px; }


.my-container {
    margin-left: 250px;
    background-color: rgb(100, 120, 113,20%);
    padding-top: 0!important;
    transition: .5s;
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}


/* for navbar */

.active-nav {
    margin-left: 0;
}



#menu-btn {
    background-color: #7952b3;
    color: #fff;
}

#menu-btn:focus {
    box-shadow: 0 0 0 0.25rem #7952b344;
}
#deco{
    width: 250px;
    height: 250px;
    margin-top: -160px;
}

#logo{
    width: 70px;
    height: 70px;
    margin-top: -105px;
    margin-left: 150px;
}


.header_iner {
    position: fixed;
    top: 0;
    z-index: 99;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 30px;
    position: relative;
    border-radius: 0;
    margin: 0;
}

.search {
    width: 310px;
    position: relative;
}
.search .search_inner {
    width: 100%;
    margin-right: 10px;
}
.search .search_inner input {
    color: #A5A3A9;
    background-color: #fff;
    font-size: 12px;
    height: 40px;
    width: 100%;
    padding-left: 50px;
    border: 0;
    padding-right: 15px;
    border-radius: 15px;
    font-weight: 400;
}
form{
    display: block;
    margin-top: 0em;
   
}


 .search-icon{
    position: absolute;
    top: 9px;
    left: 10px;
    color: #003138;
}

.filter-icon{
    position:absolute;
    color: #003138;
    right: 20%;
    top: 9px;
}



.notification {
    background-color:rgb(0, 49, 56,60%);
    cursor: pointer;
    border-radius: 50%;
    color:white;
    padding: 5px;
    
}
.avatar1{
    margin-right: 25%;
}

.avatars img {
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}
.name {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    font-size:12px;
    font-family: 'Roboto', sans-serif;
    font-weight:bold;
    cursor: pointer;
    color: #074e58;
    opacity: 0.9;
}
.staff{
    font-size:12px;
    font-weight: bold;
    cursor: pointer;
    color: #647871;
}
.content_iner {
    padding-left: 30px;
    padding-right: 30px;
}

.product1{
    font-size:26px;
    font-weight: semibold;
    color: #003138;
    font-family: 'Roboto',sans-serif;

}

.product-link{
    background-color: #003138;  
    border-radius: 40px; 
    width: 50%; 
    text-decoration:none; 
    color:white; font-family:'Roboto', sans-serif;
    font-size:15px;
    padding-left: 10px;
    padding-right: 10px;
    
}

.navigation-items{
  font-size:20px;
  font-family: 'Roboto', sans-serif;
  
  
}

.nav-links{
    text-decoration:none;
    font-size:16px;
    font-family: 'Roboto', sans-serif;
    color:#003138;
    font-weight: semibold;
    padding: 10px;;
    width: 90%;
}

.container1{
    background-color: #96b9ac;
    border-radius:20px;
    margin-left: 20px;
    height:120px;
    width:90%;
    padding:10px;
    
}

.image{
    width:100px;
    height:100px;
    padding:10px;
    border-radius: 20px;
}

.name-of-component{
    font-size:20px;
    font-family: 'Roboto', sans-serif;
    color:#003138;
    font-weight: bold;
}

.price-of-component{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color:#647871;
    font-weight: semibold;
}

.dropdown-item{
    border-radius: 5px;
    background-color: #647871;
    color:#003138;
}